html
  head
    title='Results for ' + lenderID
    h1=places
  link(href='stylesheets/bootstrap.css', rel='stylesheet')
  link(href='stylesheets/main.css', rel='stylesheet')
  link(href='stylesheets/world.css', rel='stylesheet')

  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js').
  script(type='text/javascript').
    var placesArray = places;
    console.log(!{places})

  input(type='text', name='hackyPlaces', value=places, class='hacky')

  .navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href='/')
          b CALCULATE IMPACT
      form.navbar-form.navbar-right(method='put', role='search', id='navbar_form')
        .form-group
         input.form-control(type='text', name='lenderID', value=lenderID)
  body
    script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js').
    script(src='https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js').
    script(src='javascripts/world.js').
